# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Flask instance folder
instance/

# Pytest / coverage
.coverage
*.cover
htmlcov/
.pytest_cache/

# Logs
*.log

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Mac / OS files
.DS_Store

data/
